postgresql: &postgresql
 adapter: postgresql
 host: localhost
 min_messages: ERROR
 username: user
 password: 
 pool: 5
 timeout: 5000

development:
 <<: *postgresql
 database: all_hands_development

test:
 <<: *postgresql
 database: all_hands_test

production:
 <<: *postgresql
 database: all_hands_production