// Place all the styles related to the Allhands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-half{
width: 50% !important;	

}

.margin-bottom{
	margin-bottom: 10%;
}

.navbar-padding-top{
	padding-top: 13px;
}

.navbar-padding-right{
	padding-right: 15px;
}

.margin-top-flash{
	margin-top: 100px;	
}


/* line 148, /Users/mikesaurio/.rvm/gems/ruby-2.2.2/gems/bootstrap-switch-rails-3.0.2/vendor/assets/stylesheets/bootstrap3-switch.css.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #FC6868;
}

/* line 153, /Users/mikesaurio/.rvm/gems/ruby-2.2.2/gems/bootstrap-switch-rails-3.0.2/vendor/assets/stylesheets/bootstrap3-switch.css.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #FC6868;
}

/* line 158, /Users/mikesaurio/.rvm/gems/ruby-2.2.2/gems/bootstrap-switch-rails-3.0.2/vendor/assets/stylesheets/bootstrap3-switch.css.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #FC6868;
}