<header>
  <div class="col-md-12 text-right">
    El ID de tu llamada es <%=@call.id_call%>
  </div>

  <div class="col-md-12">             
    Selecciona el intervalo de tiempo de cada participante:
    <br>
    <div class="btn-group" role="group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> 3 min
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off"> 5 min
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" autocomplete="off"> 10 min
      </label>
    </div>
    <br>
    ¿Te gustaría manejar el tiempo tu o cada participante? Yo/cada participante.
  <input type="checkbox" name="my-checkbox" checked>
  </div>
</header>

<script>
  $(document).ready(function(){
    $('input:checkbox').bootstrapSwitch();
  });
</script>